<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cyberpunk - terminal</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/blink.css">
  </head>

  <body class="">
    <div class="container on">
      <div class="screen">
        <h3 class="title">
          Conexión establecida
        </h3>
        <div class="box--outer">
          <div class="box">
            <div class="box--inner">
              <div class="content">
                <div class="holder">
                  <p><b>Buenos días humanos</b> — Estoy programado para ayudaros.
                    <br>
                    <br>
                  </p>
                  <p><span id="terminal"> </span>
                    </br>
                    </br>
                  </p>
                  <form id="formulario">
                    <div class="row">
                      <div class="col col__left label" id="tip">
                        >> 
                      </div>
                      <div class="col col__center">
                        <input type="text" autocomplete="off" id="password" name="password" required="required" placeholder="" data-error="" maxlength="32" autocomplete="new-password"
                          autofocus="true" />
                      </div>
                    </div>
                    <div class="row">
                      <button type="submit" id="submit" onsubmit="response()">[Comprobar]</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../resources/js/index.js"></script>
  </body>
</html>